/***** Aduiva Styling *****/

/***** Fonts ****/

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/rBHvpRWBkgyW99dXT88n7wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/NX1NravqaXESu9fFv7KuqgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/SKK6Nusyv8QPNMtI4j9J2wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/gFXtEMCp1m_YzxsBpKl68gsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'), url(https://fonts.gstatic.com/s/crimsontext/v8/4j4TR-EfnvCt43InYpUNDEGjWynV6JUy6bTtUoDwWRw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v8/3IFMwfRa07i-auYR-B-zNRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/***** End Fonts *****/

/***** Global Breakpoints *****/
$mobile: 50px;
$tablet: 768px;
$desktop: 1020px;
/***** End Global Breakpoints *****/

/***** Default Element Styling ****/
body {
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(left, #f4f4f4 0%, #c8c8c8 53%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f4f4f4 0%,#c8c8c8 53%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f4f4f4 0%,#c8c8c8 53%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
margin: 0;

  div#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fff;
    color: #4d4d4d;
    min-width: 300px;
    max-width: 100%;
    margin: 0 5%;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;

    div.jumbotron{
      h1.appVersion {
        background-color: #9D0320;
        color: #fff;
        font-family: georgia;
        font-style: italic;
        font-size: 1em;
        font-weight: normal;
        padding: 5px;
        margin: 0;
      }
    }

    div {
      nav {
        background: url(../img/logo_Adiuva.svg) no-repeat;
        background-size: 40%;
        min-height: 15px;
        padding-top: 11.7%;

        a {
          font-family: 'Montserrat';
          text-decoration: none;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          border-top-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
          padding: 10px 5px;
        }

        a:hover {
          background: #9D0320;
          color: #fff !important;  /* TODO find a better way of doing this */
        }

        a.active {
          /* background: #D9D2D2; */ /* TODO find a way to make the burger menu work with this */
          color: #9D0320;
        }

        a.active:hover {
          background: #9D0320;
        }

      }
    }

    div.container-fluid { /* Google Map Fix */
      div.mapClass{
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;

        div {
          div {
            position: relative; /* "App"solutely brutal, however, necessary fix - thank you for that one Google ;) */
            max-height: 337px;
          }

          ul {
            background: #fff;
            padding-top: 2px;
            padding-bottom: 50px;
            margin-top: 2px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            font-family: 'Crimson Text';
            font-style: italic;

            li {
              background-color: #D9D2D2;
              border: solid 1px #95989a;
              color: #380101;
              list-style-type: none;
              margin: 20px 5% 15px 0;
              padding: 8px;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              border-radius: 5px
            }

            h2 {
              margin: 1px 5px;
            }
          }
        }
      }
    }
  }

  a.active {
    color: orange;
  }
/***** End Default Element Styling ****/

/***** Mobile Styling *****/
  @media(min-width: $mobile) {
    div#app {
/***** Tripple Burger Styling for Mobile (hopefully veggie :-)~ ) *****/
      .burgerMenu {
        color: #C7C7C7;
        cursor: pointer;
        width: 75px;
        height: 55px;
        position:absolute;
        right: 6%;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 1em;

          div.tripleBurger1{
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 0px;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }

          div.tripleBurger2{
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 6px;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }

          div.tripleBurger3{
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 12px;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }

        .burgerMenu.menuIsExpanded {
          div.tripleBurger1{
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            top: 20px
          }

          div.tripleBurger2{
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
            top: 21px;
            opacity: 0;
          }

          div.tripleBurger3{
            -ms-transform: rotate(-45deg); /* IE 9 */
            -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
            transform: rotate(-45deg);
            top: 10px;
          }
        }
/***** End Tripple Burger Time Styling for Mobile *****/
      nav {
        display: flex;
        flex-direction: column;
          a {
            font-size: 0em;  /* CHEAP way to rival a jQuery slider w/o jQuery  ***VERY*** crude, but oh soooo effective ;-) */
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }

      nav.navIsExpanded {
        a {
          color: #8E0000;
          display: block;
          font-size: 1em;
          margin: 18px 0 2% 1%;
          font-weight: bold;
        }
      }
    }
  }
/***** End Mobile Styling *****/

/***** Tablet Styling *****/
  @media(min-width: $tablet) {
    div#app {
  /***** Tripple Burger Styling for Tablet (hopefully veggie :-)~ ) *****/
      .burgerMenu {
        cursor: pointer;
        width: 120px;
        height: 90px;
        position:absolute;
        right: 6%;
        font-size: 1.6em;

          div.tripleBurger1 {
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 15px;

          }

          div.tripleBurger2 {
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 30px;
          }

          div.tripleBurger3 {
            width: 100%;
            height: 6px;
            background-color: #582727;
            position: relative;
            top: 45px;
          }
        }

      .burgerMenu.menuIsExpanded {
        div.tripleBurger1{
          -ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
          transform: rotate(45deg);
          top: 32px
        }

        div.tripleBurger2 {
          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          transform: rotate(90deg);
          top: 37px;
          opacity: 0;
        }

        div.tripleBurger3 {
          -ms-transform: rotate(-45deg); /* IE 9 */
          -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
          transform: rotate(-45deg);
          top: 21px;
        }
      }
    /***** End Tripple Burger Time Styling for Tablet *****/
      nav.navIsExpanded a {
        color: #8E0000;
        font-size: 1.5em;
        margin: 20px 0 4% 1.7%;
        }
      }
    }
/***** End Tablet Styling *****/

/***** Desktop Styling *****/
  @media(min-width: $desktop) {
    div#app div.container-fluid div { // <-- increase specificity
      .burgerMenu {
        display: none;
      }

    nav {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;

        a {
          color: #8E0000;
          font-size: 1.7em;
          margin: 0 0 0 4%;
          display: block;
        }
      }
    }
  }
/***** End Desktop Styling *****/
}
/***** End Aduiva Styling *****/
